/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run IntGenomicsLab/lrsomatic -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: '.*' {
        resourceLimits = [
            cpus: 4,
            memory: '15.GB',
            time: '1.h'
        ]
    }

    withName: '.*DEEPVARIANT_MAKEEXAMPLES' {
        ext.args = {
           "--regions 'chr19'"
        }
    }

    withName: '.*DEEPVARIANT_POSTPROCESSVARIANTS' {
        ext.args = {
            "--regions 'chr19'"
        }
    }
    withName: '.*DEEPSOMATIC_MAKEEXAMPLES' {
       ext.args = {
            "--regions 'chr19'"
       }
    }
    withName: '.*DEEPSOMATIC_POSTPROCESSVARIANTS' {
       ext.args = {
            "--regions 'chr19'"
       }
    }

}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/samplesheets/samplesheet_lr-somatic.csv"
    fasta    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/GRCh38_chr19.fasta.gz"

    // Additional params
    genome             = "GRCh38"
    vep_genome         = "WBcel235"
    vep_species        = "caenorhabditis_elegans"
    skip_wakhan        = true
    skip_ascat         = true
    skip_modkit        = true
    // SV/CNA annotation and plotting need whole-genome input and fetch multi-GB
    // images/annotations; covered by the module-level nf-tests instead.
    skip_savana        = true
    skip_padfoot       = true
    skip_reconplot     = true

}
