/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full pipeline test with both
    callers in union combine mode.

    Use as follows:
        nextflow run IntGenomicsLab/lrsomatic -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    withName: '.*' {
        resourceLimits = [
            cpus: 4,
            memory: '15.GB',
            time: '1.h'
        ]
    }
}

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset with both callers in union combine mode'

    // Input data
    input    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/samplesheets/samplesheet_lr-somatic.csv"
    fasta    = "https://raw.githubusercontent.com/IntGenomicsLab/test-datasets/main/references/GRCh38_chr19.fasta.gz"

    // Additional params
    genome                = "GRCh38"
    vep_genome            = "WBcel235"
    vep_species           = "caenorhabditis_elegans"
    skip_wakhan           = true
    skip_ascat            = true
    // SV/CNA annotation and plotting need whole-genome input and fetch multi-GB
    // images/annotations; covered by the module-level nf-tests instead.
    skip_savana           = true
    skip_padfoot          = true
    skip_reconplot        = true

    // Both callers, union combine mode
    germline_var_keep     = 'clair, deepvariant'
    somatic_var_keep      = 'clair, deepsomatic'
    germline_var_combine  = 'all'
    somatic_var_combine   = 'all'
}
